{% load static %}

<style>
  .userr {
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
  }
</style>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <img class="logoimg" src="{% static 'images/logo.png' %}" />

  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
      </ul>
    </div>
    <span class="userr">Hello ! {{request.user}}</span>
    <a class="btn btn-sm btn-danger" href="{% url 'logoutUser' %}">Logout</a>
  </div>
</nav>
